<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
      <a href="/static_pages/contact">contact</a>
      <a href="/static_pages/company">company</a>
      <a href="/static_pages/help">help</a>
      <a href="/static_pages/recruit">recruit</a>
